@media screen and (min-width: 1200px) {
.container-team{
        max-width: 1158px;
}
.container-tools, .container, .container-menu{
    max-width: 1158px;}

.container-max{
    width: 1158px;
}
.container-customer{
    width: 1158px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
}
.contact-email, .contact-phone-number {
    font-size: 16px;
    line-height: 1.5;}

    .contact-phone-number {
        margin-left: 40px;
}

.flex-contact {
        display: flex;
        justify-content: flex-end;
        /* flex-wrap: wrap; */
        align-items: center;
        margin-bottom: 0;}

.customers-item{
            width: calc((100% - 120px) / 6);    
            }
.custom-list{
                justify-content: center;
                row-gap: 0px;
                gap: 24px;
            }
.modal-btn {
                margin-top: 48px;
    
}
.tools-flex{
    /* width: 264px; */
    width: calc((100%-72px)/3);
}
.tools-flex::before{
    content:"";
    width: 100%;
    height: 112px;
    background-color: #F4F4FD;
    display: flex;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
}

.tools-flex.icon-antenna::before{
    background-image: url('../images/icons/tools-icons/antenna.svg');
}

.tools-flex.icon-clock::before{
    background-image: url('../images/icons/tools-icons/clock.svg');
}

.tools-flex.icon-diagram::before{
    background-image: url('../images/icons/tools-icons/diagram.svg');
}

.tools-flex.icon-astronaut::before{
    background-image: url('../images/icons/tools-icons/astronaut.svg');
}
.tools{
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-flex-tools{flex-wrap: nowrap;}
.main-flex-tools .tools-flex:nth-child(3){
    width: 267px;
}

.custom-list{
    gap:24px;}

.title-tools{
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
}
.footer-media{
    display: flex;
    justify-content:flex-start;
    align-items: baseline;

}
.subscribe{
    min-width: 453px;
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;

}
.form-subscribe{
    display: flex;
    gap: 24px;
}
.subscribe-input {
    width: 264px;
}
.title-functions .list.flex{
    flex-wrap: :nowrap;
}
/* .flex{
flex-wrap: :nowrap;
  } */
  .dark-theme-container{
    margin-bottom: 0;
  }
  .social-media{
    margin-bottom: 0;
  }
  .subscribe-input{
    margin-bottom: 0;
  }
}